.Heading {
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: black;
}

.FlandersImg {
    padding-top: 2rem;
    text-align: center;
}

.BuySSF {
    padding-top: 2rem;
    text-align: center;
    .Button {
        font-family: "Comic Sans MS", "Comic Sans", cursive;
    }
}